<div class="container-app">
  <div class="sidebar">
    <h1 class="title">Gif-App</h1>
    <hr class="separator">
    <nav class="nav">
      <ul class="nav-menu">
        <li class="menu__item"><a class="history" href="#">Historial</a></li>
        <li class="menu__item"><a class="history" href="#">Historial</a></li>
        <li class="menu__item"><a class="history" href="#">Historial</a></li>
        <li class="menu__item"><a class="history" href="#">Historial</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <h2 class="subtitle">Buscar</h2>
    <form class="form">
      <input class="search" type="text" placeholder="Buscar gif...">
    </form>
    <hr class="separator">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis quidem eveniet provident, placeat dolorem illum minus nulla nemo natus excepturi aut quasi! Officiis ducimus aut dolor maxime, ullam laboriosam.</p>
  </div>
</div>